<!-- //here we are linking the routes to anchor tag -->
<!-- <a href="http://localhost:4200/Home" >Home</a> -->

<!-- if we use href then everytime we click an api call goes to server and all the angular related bundles gets loaded 
 so to avoid we use routerLink attribute directive -->
<!-- <a routerLink="About" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">About</a> -->
<!-- doubt? why grren color not applied to /about-->
<!-- <a routerLink="About/Contact" routerLinkActive="active">Contact</a> -->



<button (click)="OnNavigation()">.tsRoutingLinking</button>
<!-- <a (click)="OnNavigation()">About</a>
<a (click)="OnNavigation()">Contact</a> -->


