<form asp-controller="Output" asp-action="Output" method="post">
    <label for="user">USERNAME</label>
    <input type="text" name="username" id="user">
    <br>
    <br>
    <label for="pwd">PASSWORD</label>
    <input type="password" name="psd" id="pwd">
    <br>
    <br>
    <input type="submit">
</form>